In [1]:
import pandas as pd
import sys
import mysql.connector

In [7]:
conn = mysql.connector.connect(user='root', password='root', database='pandas')
cursor = conn.cursor()
cursor.execute("SELECT * FROM test")
data = cursor.fetchall()

In [8]:
df = pd.DataFrame(data=data, columns=['ID', 'Title', 'Number', 'Date'])
df

    ID  Title  Number                Date
0    1  Hello      12 2018-02-10 14:20:11
1    2  World     324 2018-02-10 14:20:11
2    3  Hello      12 2018-02-10 14:20:20
3    4  World     324 2018-02-10 14:20:20
4    5  Hello      12 2018-02-10 14:20:20
5    6  World     324 2018-02-10 14:20:20
6    7  Hello      12 2018-02-10 14:20:20
7    8  World     324 2018-02-10 14:20:20
8    9  Hello      12 2018-02-10 14:20:20
9   10  World     324 2018-02-10 14:20:20
10  11  Hello      12 2018-02-10 14:20:20
11  12  World     324 2018-02-10 14:20:20
12  13  Hello      12 2018-02-10 14:20:20
13  14  World     324 2018-02-10 14:20:20

# Export to CSV

In [9]:
df.to_csv('Data/BD_Data.csv', index=False)

# Export to Excel

In [10]:
df.to_excel('Data/BD_Data.xlsx', index=False)

# Export to TXT

In [12]:
df.to_csv('Data/BD_Data.txt', index=False)

# Export to JSON

In [15]:
df.to_json('Data/BD_Data.json')

# Export as HTML

In [16]:
df.to_html('Data/BD_Data.html')