In [91]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [92]:
data_frame = pd.read_csv('../Data/events.csv')

In [93]:
data_frame.shape

(2756101, 5)

In [94]:
data_frame.head(3)

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN

In [95]:
print (data_frame.isnull().any().any())

True

In [96]:
print (data_frame.isnull().any())

timestamp        False
visitorid        False
event            False
itemid           False
transactionid     True
dtype: bool

In [97]:
print (data_frame.isnull().sum())

timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

## Showing unique Values of Event

In [98]:
data_frame['event'].unique()

array(['view', 'addtocart', 'transaction'], dtype=object)

## Showing total number of each event

In [99]:
data_frame.groupby('event').count()

             timestamp  visitorid   itemid  transactionid
event
addtocart        69332      69332    69332              0
transaction      22457      22457    22457          22457
view           2664312    2664312  2664312              0

# Working with Transection Events

In [100]:
transection_data = pd.DataFrame(data_frame[data_frame['event'] == 'transaction'].groupby('itemid')['visitorid'].count())
transection_data = transection_data.sort_values(['visitorid'], ascending=False)
transection_data.columns = ['transection']
transection_data.reset_index(inplace=True)
transection_data.head()

   itemid  transection
0  461686          133
1  119736           97
2  213834           92
3  312728           46
4    7943           46

In [101]:
len(transection_data)

12025

# Analysis with addtocart Data

In [130]:
data_addtocart = pd.DataFrame(data_frame[data_frame['event'] == 'addtocart'].groupby('itemid')['timestamp'].count())
data_addtocart_sorted = data_addtocart.sort_values(['timestamp'], ascending=False)
data_addtocart_sorted.columns = ['addtocart']
data_addtocart_sorted.reset_index(inplace=True)
data_addtocart_sorted.head()

   itemid  addtocart
0  461686        306
1  312728        162
2  409804        156
3  320130        141
4   29196        136

In [103]:
len(data_addtocart_sorted)

23903

# Working with view Data

In [131]:
view_data = pd.DataFrame(data_frame[data_frame['event'] == 'view'].groupby('itemid')['itemid'].count())
view_data = view_data.sort_values(['itemid'], ascending=False)
view_data.columns = ['view']
view_data.reset_index(inplace=True)
view_data.head()

   itemid  view
0  187946  3410
1  461686  2539
2    5411  2325
3  370653  1854
4  219512  1740

# Final Data
## Merge transection, addtocart, view

In [211]:
#final_data = pd.merge(transection_data[0:200], data_addtocart_sorted[0:200], on='itemid')
final_data = transection_data[0:200].merge(data_addtocart_sorted[0:200], on='itemid').merge(view_data[0:200], on='itemid')
# final_data = final_data.merge(view_data[0:200], on='itemid')
final_data.head()

   itemid  transection  addtocart  view
0  461686          133        306  2539
1  119736           97         44   752
2  312728           46        162   947
3    7943           46         97  1346
4  445351           45         89   939

In [212]:
final_data.set_index('itemid', inplace=True)

In [213]:
final_data.head()

        transection  addtocart  view
itemid
461686          133        306  2539
119736           97         44   752
312728           46        162   947
7943             46         97  1346
445351           45         89   939

# Calculating sum

In [215]:
final_data['sum'] = final_data.sum(axis=1)

In [216]:
final_data.head()

        transection  addtocart  view   sum
itemid
461686          133        306  2539  2978
119736           97         44   752   893
312728           46        162   947  1155
7943             46         97  1346  1489
445351           45         89   939  1073

In [217]:
final_data['total'] = final_data.apply(lambda x: x.transection + x.addtocart , axis=1)

In [218]:
final_data.sort_values(['total'], ascending=False, inplace=True)
final_data.head(10)

        transection  addtocart  view   sum  total
itemid
461686          133        306  2539  2978    439
312728           46        162   947  1155    208
409804           35        156   647   838    191
320130           33        141  1333  1507    174
29196            19        136   912  1067    155
7943             46         97  1346  1489    143
119736           97         44   752   893    141
48030            41         95   986  1122    136
445351           45         89   939  1073    134
441852           27         90   860   977    117

In [219]:
final_data.sort_values(['transection'], ascending=False, inplace=True)
final_data.head(10)

        transection  addtocart  view   sum  total
itemid
461686          133        306  2539  2978    439
119736           97         44   752   893    141
312728           46        162   947  1155    208
7943             46         97  1346  1489    143
445351           45         89   939  1073    134
48030            41         95   986  1122    136
248455           38         52   575   665     90
420960           38         60   796   894     98
17478            37         72   631   740    109
409804           35        156   647   838    191